.header {
    display: flex;
    align-items: center;
    width: 1366px;
    height: 111px;
    padding-left: 65px;
    padding-right: 63px;

    .logo {
        width: 156px;
        height: 44px;
        margin-right: 140px;
    }

    .text {
        display: flex;
        justify-content: space-between;
        margin-right: 564px;
        width: 252px;

        .NavLink {
            text-decoration: none;
        }

        p {
            font-family: Arimo;
            font-size: 12px;
            font-weight: 700;
            line-height: 13.8px;
            letter-spacing: 0.05em;
            text-align: center;

        }
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 25px;

        .nav-link {
            position: relative;

            .per {
                width: 21px;
                height: 21px;
                border-radius: 50px;
                background: #024E82;
                position: absolute;
                top: -5px;
                right: -8px;
                font-family: sans-serif;
                font-size: 15px;
                font-weight: 700;
                line-height: 12.57px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .per:hover {
                color: black;
            }
        }
    }
}